<mat-divider style="margin: 10px 0"></mat-divider>

<mat-nav-list>
  <a
    mat-list-item
    routerLink="/posts"
    [queryParams]="{ categoryId: null }"
    [class.active-link]="
      !currentCategoryId && !route.snapshot.url.toString().includes('admin')
    "
    (click)="onLinkClick()"
  >
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>HOME</span>
  </a>

 <mat-divider style="margin: 10px 0;"></mat-divider>
  <div mat-subheader>Categories</div>

  <mat-accordion displayMode="flat" multi>

    @for (parent of categoryTree; track parent.id) {

      @if (parent.children && parent.children.length > 0) {
        <mat-expansion-panel class="category-panel" [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon style="margin-right: 16px;">folder</mat-icon>
              {{ parent.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list dense>
            @for (child of parent.children; track child.id) {
              <a mat-list-item
                 [routerLink]="['/posts']"
                 [queryParams]="{ categoryId: child.id }"
                 [class.active-link]="currentCategoryId === child.id"
                 style="padding-left: 20px;"
                 (click)="onLinkClick()">
                <mat-icon matListItemIcon>subdirectory_arrow_right</mat-icon>
                <span matListItemTitle>{{ child.name }}</span>
              </a>
            }
          </mat-nav-list>
        </mat-expansion-panel>
      }

      @else {
        <a mat-list-item
           [routerLink]="['/posts']"
           [queryParams]="{ categoryId: parent.id }"
           [class.active-link]="currentCategoryId === parent.id"
           (click)="onLinkClick()">
          <mat-icon matListItemIcon>label</mat-icon>
          <span matListItemTitle>{{ parent.name }}</span>
        </a>
      }
    }

  </mat-accordion>

  <ng-container *ngIf="authService.isAdmin">
    <mat-divider style="margin: 10px 0"></mat-divider>
    <div mat-subheader>Administration</div>

    <a
      mat-list-item
      routerLink="/admin/categories"
      routerLinkActive="active-link"
      (click)="onLinkClick()"
    >
      <mat-icon matListItemIcon>settings</mat-icon>
      <span matListItemTitle>Manage Categories</span>
    </a>

    <a
      mat-list-item
      routerLink="/write"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      [class.active-link]="
        !currentCategoryId &&
        route.snapshot.url.length > 0 &&
        route.snapshot.url[0].path === 'write'
      "
      (click)="onLinkClick()"
    >
      <mat-icon matListItemIcon>edit</mat-icon>
      <span matListItemTitle>Write Post</span>
    </a>
  </ng-container>
</mat-nav-list>
